@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// цвета

$purple: #7a7dbc;
$dark: #3a3a42;
$pink: #ec84b6;
$pink1: #eedcfa;
$pink2: #969ae4;
$white: #fff;
$light-pink: #fdecff;

// переменная со шрифтом

// $font-italic: 'inter-italic', 'font', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat-SemiBold", "font", sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 8px;
    min-width: 320px;
    overflow-x: hidden;
    // background-color: $purple;
    color: $dark;
}

main {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 567 */
@media (min-width: 0px) {
    .container {
        margin: 0 21px;

        &--atelier {
            margin: 0 0 0 21px;
        }
    }

    .header {
        &__wrapper {
            padding-top: 11px;
            display: flex;
            justify-content: space-between;
        }
    }

    .logo {
        font-weight: 700;
        font-size: 8px;
        line-height: 8px;
        color: $purple;
    }
    .navigation {
        &__list {
            display: flex;

            &__item {
                font-size: 8px;
                line-height: 8px;
            }
        }
    }

    .link {
        text-decoration: none;

        &--navigation {
        }
    }

    .picture {
        display: inline-block;
        height: 100%;
        width: 100%;

        &--atelier {
            width: 70%;
            position: absolute;
            right: 0;
            top: 0;
            // position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, transparent, 65%, $white);
            }

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &--services {
            max-height: 100px;
            margin-bottom: 5px;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin: 0 auto;
        color: $purple;

        &--h3 {
            font-size: 12px;
            line-height: 15px;
            background-color: $pink2;
            color: $white;
            padding: 2px 3px;
            border-radius: 2px;
        }
    }

    .circle {
        width: 54px;
        height: 54px;
        background-color: $light-pink;
        border-radius: 50%;
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .atelier {
        // padding-top: 12px;
        margin-bottom: 60px;
        position: relative;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 76px;
        }

        &__wrapper-content {
            padding-top: 105px;
            position: relative;
            z-index: 1;
            max-width: 44%;
        }

        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 21px;
            color: $purple;
            margin-bottom: 4px;
        }

        &__content {
            font-size: 15px;
            line-height: 18px;
        }

        &__info {
            font-size: 8px;
            line-height: 9px;
            font-weight: 500;
            margin-bottom: 23px;
            display: inline-block;
        }

        &__link {
            padding: 9px 32px;
            background-color: $pink;
            border-radius: 50px;
            padding: 7px 38px;
            color: $white;
        }

        &__advertisement {
            max-width: 210px;
            margin: 0 auto;
            // padding: 17px 35px;
            box-shadow: 0px 2px 5px $pink1;
            border-radius: 9px;
            z-index: 1;

            position: relative;

            &::after,
            &::before {
                position: absolute;
                top: 8px;
                left: 2px;
                width: 21px;
                height: 51px;
                content: "";
                background: url(../icon/quotes-start.svg) no-repeat;
            }

            &::before {
                bottom: -23px;
                right: 21px;
                top: auto;
                left: auto;
                background: url(../icon/quotes-end.svg) no-repeat;
            }
        }

        &__advertisement-content {
            line-height: 9px;
            padding: 17px 35px;
            display: inline-block;
        }

        &__circle {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            z-index: 0;
        }
    }

    .services {
        margin-bottom: 60px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-bottom: 25px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 28px;
            box-shadow: 0px 2px 5px #eedcfa;
            margin-bottom: 27px;

            & li {
                width: calc(50% - 18px);
                margin-bottom: 16px;
            }
        }

        &__content {
            display: block;
            text-align: center;
            line-height: 10px;
        }

        &__title-swipper {
            margin-bottom: 10px;
        }

        &__swiper {
            padding: 0 50px;
        }
    }
}

@media (min-width: 375px) {
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {
        &__item {
        }

        &--navigation {
        }
    }

    .atelier {
        &__wrapper {
        }

        &__wrapper-content {
        }

        &__title {
        }

        &__content {
        }

        &__link {
        }
    }
    .title {
    }
}

@media (min-width: 768px) {
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {
        &__item {
        }

        &--navigation {
        }
    }

    .atelier {
        &__wrapper {
        }

        &__wrapper-content {
        }

        &__title {
        }

        &__content {
        }

        &__link {
        }
    }
    .title {
    }
}

@media (min-width: 1280px) {
    // .container {
    //     max-width: 820px;
    //     padding: 0 60px;

    // }
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {
        &__item {
        }

        &--navigation {
        }
    }

    .atelier {
        &__wrapper {
        }

        &__wrapper-content {
        }

        &__title {
        }

        &__content {
        }

        &__link {
        }
    }
    .title {
    }
}


// Price

.price__title {
    text-align: center;
    margin-bottom: 15px;
}

.price__subtitle {
    width: 85px;
    text-align: center;
    margin: 0 auto;
}
.price__servise {
    min-width: 161px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.2);

    /* матовый эффект и тень */
    box-shadow: 0px 2px 3px 0px rgba(238, 220, 250, 0.78);
    backdrop-filter: blur(2.5px);
    margin-top: 13px;
}

.servises__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 15px;
}
.price__servise-title {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
}
.price__servise-list p {
    margin: 0;
}
.price__servise-list {
    padding: 6px 6px 8px 7px;
}
.price__servise-list li {
    margin-bottom: 7px;
}
.price__servise-item {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

// Дополнительно

.servise__additionally-subtitle {
    width: 176px;
    text-align: center;
    margin: 0 auto;
}

.servise__additionally {
    padding: 0px 86px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.servise__additionally-list {
    width: 161px;
    padding: 10px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.2);

    /* матовый эффект и тень */
    box-shadow: 0px 2px 3px 0px rgba(238, 220, 250, 0.78);
    backdrop-filter: blur(2.5px);
}
.servise__additionally-item {
    display: flex;
    justify-content: space-between;
}
.servise__additionally-item p + p {
    margin-bottom: 5px;
}

// Фон прайса

.price {
    position: relative;
}

.price::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 58px;
    left: -9px;
    top: 141px;
    z-index: -1;
    border-radius: 60px;
    background: $light-pink;
}

.price::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 53px;
    right: 51px;
    top: 45px;
    z-index: -1;
    border-radius: 60px;
    background: $light-pink;
}

.price-bg {
    position: relative;
}
.price-bg::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    left: 70px;
    top: 42px;
    z-index: -1;
    border-radius: 60px;
    background: $light-pink;
}
