@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
         url(../fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// цвета

$purple: #7A7DBC;
$dark: #3A3A42;
$pink: #EC84B6;
$pink1: #EEDCFA;
$white: #fff;
$light-pink: #FDECFF;

// переменная со шрифтом

// $font-italic: 'inter-italic', 'font', sans-serif;

html {
    scroll-behavior:smooth;
}


body {
    font-family: 'Montserrat-SemiBold', 'font', sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 8px;
    min-width: 320px;
    overflow-x: hidden;
    // background-color: $purple;
    color: $dark;
}

main {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* 567 */
@media (min-width: 0px) {
    .container {
        margin: 0 21px;

        &--atelier {
            margin: 0 0 0 21px;
        }
    }

    .header {
        &__wrapper {
            padding-top: 11px;
            display: flex;
            justify-content: space-between;
        }
    }

    .logo {
        font-weight: 700;
        font-size: 8px;
        line-height: 8px;
        color: $purple;
    }
    .navigation {
        &__list {
            display: flex;

            &__item {
                font-size: 8px;
                line-height: 8px;
            }
        }
    }


    .link {
        text-decoration: none;

        &--navigation {

        }
    }

    .picture {
        display: inline-block;
        height: 100%;
        width: 100%;

        &--atelier {
            width: 70%;
            position: absolute;
            right: 0;
            top: 0;
            // position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom,transparent, 65% , $white);
                }

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & img {
            width: 100%;
            height: 100%;
        }

        &--services {
            max-height: 100px;
            margin-bottom: 5px;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin: 0 auto;
        color: $purple;
    }

    .circle {
        width: 54px;
        height: 54px;
        background-color: $light-pink;
        border-radius: 50%;
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .atelier {
        // padding-top: 12px;
        margin-bottom: 60px;

		&__wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 76px;
		}

        &__wrapper-content {
            padding-top: 105px;
            position: relative;
            z-index: 1;
            max-width: 44%;
        }

		&__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 21px;
            color: $purple;
            margin-bottom: 4px;
		}

		&__content {
            font-size: 15px;
            line-height: 18px;
		}

        &__info {
            font-size: 8px;
            line-height: 9px;
            font-weight: 500;
            margin-bottom: 23px;
            display: inline-block;
        }


		&__link {
            padding: 9px 32px;
            background-color: $pink;
            border-radius: 50px;
            padding: 7px 38px;
            color: $white;
		}

        &__advertisement {
            max-width: 210px;
            margin: 0 auto;
            // padding: 17px 35px;
            box-shadow: 0px 2px 5px $pink1;
            border-radius: 9px;
            z-index: 1;

            position: relative;

            &::after,
            &::before {
                position: absolute;
                top: 8px;
                left: 2px;
                width: 21px;
                height: 51px;
                content: '';
                background: url(../icon/quotes-start.svg) no-repeat;
            }

            &::before {
                bottom: -23px;
                right: 21px;
                top: auto;
                left: auto;
                background: url(../icon/quotes-end.svg) no-repeat;
            }
        }

        &__advertisement-content {
            line-height: 9px;
            padding: 17px 35px;
            display: inline-block;
        }

        &__circle {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            z-index: 0;
        }
    }

    .services {

        &__wrapper {
            display: flex;
            flex-direction: column;
        }


        &__title {
            margin-bottom: 25px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 28px;

            & li {
                width: calc(50% - 18px);
                margin-bottom: 20px;
            }
        }
    }


}

@media (min-width: 375px) {
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {

        &__item {
        }

        &--navigation {
        }
    }

    .atelier {

		&__wrapper {
		}

        &__wrapper-content {

        }

		&__title {
		}

		&__content {
		}


		&__link {
		}
    }
    .title {
    }
}

@media (min-width: 768px) {
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {

        &__item {
        }

        &--navigation {
        }
    }

    .atelier {

		&__wrapper {
		}

        &__wrapper-content {

        }

		&__title {
		}

		&__content {
		}


		&__link {
		}
    }
    .title {
    }
}

@media (min-width: 1280px) {
    // .container {
    //     max-width: 820px;
    //     padding: 0 60px;

    // }
    .header {
    }
    .logo {
    }
    .navigation {
    }
    .list {

        &__item {
        }

        &--navigation {
        }
    }

    .atelier {

		&__wrapper {
		}

        &__wrapper-content {

        }

		&__title {
		}

		&__content {
		}


		&__link {
		}
    }
    .title {
    }
}

